@model ticket_without_mail.Models.Ticket

@{
    ViewBag.Title = "Прифани тикет";
}

<h2>Прифани тикет</h2>

<h3>Потврди:</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Испратено од mail:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.problemSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.problemSubject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.problemBody)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.problemBody)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.submitTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.submitTime)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Прифани" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
